:root{
    --color-text: #202020;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-ExtraBold.ttf');
  font-weight: 800;
}

.help-page {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #836C5A ;
}

.help-heading {
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--color-text);
}

.description {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--color-text);
}

.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  margin-bottom: 4rem;
  color: var(--color-text);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  color: var(--color-text);
}

.contact-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text);

  
}

.contact-role {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text);
}

.contact-phone,
.contact-mail {
  font-size: 0.9rem;
  color: var(--color-text);
}

.contact-mail {
  text-decoration: none;
  color: inherit;
}

.contact-mail:hover {
  text-decoration: underline;
}

.footer {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: auto;
  color: #836C5A;
  background-color: var(--color-text);
  width: 100%;
  height: auto;
  justify-content: center;
}